.chude {
    border-radius: 12px;
    text-align: center;
    width: 25%;
    height: 400px;
    background-color: #55c655;
    overflow-y: scroll;
    scrollbar-width: unset;
    padding-top: 2%;
    float: left;
    margin-top: 3%;
    /*margin-left: 15%;*/
    color: #273f63;
}

.chude::-webkit-scrollbar {
    width: 20px;
    background-color: rgb(235, 235, 235);
    border-radius: 12px;
}

.noidung {
    border-radius: 12px;
    width: 40%;
    height: 400px;
    margin-top: 3%;
    text-align: center;
    /*margin-left: 46%;*/
    background-color: #55c655;
    color: #273f63;
}

.point {
    font-size: 22px;
    width: 300px;
    height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 12px;
}

.change {
    border-radius: 12px;
    width: 50%;
    height: 580px;
    margin-top: 2%;
    background-color: #36becc;
    color: #273f63;
    font-size: 22px;
    text-align: center;
}

.chooseAvatar {
    display: flex !important;
    height: 245px;
    background-color: white;
    border-radius: 12px;
    text-align: center;
    display: inline-block;
    margin: 30px 50px;
    align-items: center;

}

.home-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aphabet-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aphabet-image img {
    margin-top: -10px;
    width: 87%;
}

.change-avatar img {
    margin-top: 10px;
    width: 25%;
    border-radius: 12px;
    box-shadow: 5px 5px 5px grey;
    background-color: white;

}

.change-avatar input {
    width: 40%;
    font-style: italic;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    margin-left: 40px;
    padding: 10px 20px;
    color: #273f63;
}

.change .alert-success, .change .alert-danger {
    position: fixed;
    right: 0;
    bottom: 0;
}